/* 
    Document   : zabbix_bridge
    Created on : Aug 28, 2011, 7:19:41 PM
    Author     : olindata
    Description:
        Module wide style sheet
*/

#zabbix-bridge-hosts-form div .form-item {
    display: block;
    float: left;
}

#zabbix-bridge-hosts-form #edit-status-wrapper {
    float: none;
    display: inline;
}

#zabbix-bridge-hosts-form .form-checkboxes .form-item {
    float: left;
    width: 200px;
    height: 200px;
}

#zabbix-bridge-hosts-form #edit-submit {
    float: left;
}