/* 
    Document   : zabbix_bridge
    Created on : Aug 28, 2011, 7:19:41 PM
    Author     : olindata
    Description:
        Module wide style sheet
*/

#zabbix-bridge-hosts-form div .form-item {
    display: block;
    float: left;
}

#zabbix-bridge-hosts-form #edit-status-wrapper {
    float: none;
    display: inline;
}

#zabbix-bridge-hosts-form .form-checkboxes .form-item {
    float: left;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    padding: 10px;
    border-color: darkGray;
    text-align: center;
}

#zabbix-bridge-hosts-form #edit-submit {
    float: left;
}

#zabbix-bridge-hosts-form .form-item label {
    width: 100%;
    float: left;
}

#zabbix-bridge-hosts-form div {
    text-align: center;

}